DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

OPENAI_API_KEY=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

LANGCHAIN_TRACING_V2=false
LANGSMITH_TRACING=false